$background: #222;
$light-background: #343434;
$text-color: #ddd;
$primary-color: #FACC15;
$secondary-color: #dd524c;
$form-background-color: #343434;;
$form-text-color: #ddd;
$muted-color: #bbb; // solarized comment text
$primary-button-text-color: #222;
$code-highlight-background: #343434;